<!-- start custom footer snippets -->
{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}
<ul class="custom-footer__social">
    {% if author.email %}
    <li class="email">
        <a href="mailto:{{ author.email }}">
        <meta itemprop="email" content="{{ author.email }}" />
        <i class="fas fa-fw fa-envelope" aria-hidden="true"></i>
        </a>
    </li>
    {% endif %}

    {% if author.github %}
    <li class="github">
        <a href="https://github.com/{{ author.github }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
        <i class="fab fa-fw fa-github" aria-hidden="true"></i> 
        </a>
    </li>
    {% endif %}

    {% if author.linkedin %}
    <li class="linkedin">
        <a href="https://www.linkedin.com/in/{{ author.linkedin }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
        <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> 
        </a>
    </li>
    {% endif %}

    {% if author.twitter %}
    <li class="twitter">
        <a href="https://twitter.com/{{ author.twitter }}" itemprop="sameAs" rel="nofollow noopener noreferrer">
        <i class="fab fa-fw fa-twitter" aria-hidden="true"></i>
        </a>
    </li>
    {% endif %}
</ul>


<!-- end custom footer snippets -->