.page__hero--overlay {
    background-position: 50% 60%;
    padding: 6em 0;
}
.page__hero--overlay .page__title {
    text-shadow: 0px 4px 2px rgba(0,0,0,0.6);
}
.page__hero--overlay .page__lead {
    text-shadow: 1px 1px 4px rgba(0,0,0,0.9);
}
.masthead__inner-wrap {
    padding: 0.5em 1em;
}
.greedy-nav a.site-title {
    font-size: 24px;
}

// Image Row
.img-row {
    display: -webkit-box; 
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    position: relative;
}
.img-row::before,
.img-row::after {
    content: "";
    clear: both;
    display: table;
}
.img-col {
    margin: 10px 0;
    width: 100%;
}
.img-row img {
    display: block;
    width: auto;
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 1023px) {
    #main {
        display: flex;
        flex-direction: column;
    }
    .sidebar {
        order: 2;
        margin: 30px 0 0 0;
    }
    .page {
        order: 1;
    }
}
@media screen and (min-width: 64em) {
    .img-row { 
        flex-direction: row;
    }
    .img-col {
        width: 50%;
        margin: 0;
    }
}
// Custom Footer Links
.page__footer {
    background-color: #1e1e1e;
    color: #fff;
}
.custom-footer__social {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;

    li {
        color: #fff;
        font-size: 32px;
        display: inline-block;
        transition: all 0.3s ease-in-out;

        @media screen and (min-width: 64em) {
            &:hover {
                transform: translateY(-10px);
            }
        }
        
    }
}
.page__footer-copyright {
    text-align: center;
}