/* ==========================================================================
   Dirt skin
   ========================================================================== */

/* Colors */
$background-color: #f3f3f3 !default;
$text-color: #343434 !default;
$muted-text-color: #8e8b82 !default;
$primary-color: #343434 !default;
$border-color: transparent !default;
$footer-background-color: #1e1e1e !default;
$link-color: #343434 !default;
$masthead-link-color: #fff !default;
$masthead-link-color-hover: $masthead-link-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;